__pycache__/
.buildozer/
.vscode/

# compiled apk
_bin/

# temporary
.upd/

# environment variables
.env

logs/

# kivy showcases
colors.py
icons.py
test.py

# unnecessary updates
app_store.json
constants/dict.json
constants/words.json
